@{
    ViewData["Title"] = "Accueil - Groupe 1";
}

<div class="text-center">
    <h1 class="display-4">Groupe n°1 : Johan, Mouad, Richard, Sarah</h1>
</div>


<div style="margin:20px">
    <span>Projet 2 : Gestion de stock de médicaments (numéro Référence, nom arcticle, date achat, date de péremption, prix HT, quantité…)</span>
    <ul>
        <li>Une page qui affiche tous les articles en stock (avec possibilité de rechercher un article)</li>
        <li>Une page permettant de gérer les articles (Ajout, suppression, Modification etc…)</li>
    </ul>

</div>