@{
    ViewData["Title"] = "Accueil - Groupe 3";
}

<div class="text-center">
    <h1 class="display-4">Groupe n°3 : Feza, Yvon, Dabha, Remy</h1>
</div>


<div style="margin:20px">
    <span>Projet 1 : Gestion de News (Auteur, Titre, Contenu, Date de création,  Date de Modification…) </span>
    <ul>
        <li>
            Une page qui affiche les 5 dernières actualités
            <ul>
                <li> En option afficher les 200 premiers caractères de la news</li>
                <li>Si on clique sur le titre, on peut lire toute la news</li>
            </ul>
        </li>
        <li> Une page permettant de gérer les news (Ajouter, Modifier, Supprimer...)</li>
    </ul>

</div>