@{
    ViewData["Title"] = "Accueil - Groupe 4";
}

<div class="text-center">
    <h1 class="display-4">Groupe n°4 : Khawla, Katty, Stephane, Laurent</h1>
</div>


<div style="margin:20px">
    <span>Projet 3 : Gestion des inscriptions d’élèves (Nom, Prénom, Adresse, Téléphone, Mail, responsable legal …)</span>
    <ul>
        <li>Une page qui affiche tous les élèves inscrits (avec possibilité de rechercher un élève)</li>
        <li>Une page permettant de gérer les élèves (Ajout, Suppression, Modification ...)</li>
        <li>Une page permettant de gérer les responsables légaux</li>
    </ul>

</div>